footer {
  background: var(--color-primary);
  padding: 3rem 0;
  text-align: center;
  font-size: 0.9rem;
  margin-top: 5rem;
}

footer a {
  color: var(--color-bg);
}

.footer-logo {
  font-size: 2rem;
  font-weight: 500rem;
  margin-bottom: 2rem;
  display: inline-block;
}

.permalinks {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
  margin-bottom: 2rem;
  font-weight: 600;
  font-size: large;
}

.footer-socials {
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin-bottom: 6rem;
}

.footer-socials a {
  background: var(--color-bg);
  color: var(--color-white);
  padding: 0.8rem;
  border-radius: 0.7rem;
  display: flex;
  border: 1px solid transparent;
}

.footer-socials a:hover {
  background: transparent;
  color: var(--color-bg);
  border-color: var(--color-bg);
}

/*  ----- Media Queries (Small Devices) ----- */
@media screen and (max-width: 600px) {
  .permalinks {
    flex-direction: column;
    gap: 0.8rem;
  }
  .footer-socials {
    margin-bottom: 3.3rem;
  }
}
